.sidebar {
	background-color: #313541;
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}
.sidebar .nav-sidebar li{
	display: flex;
	justify-content: center;
	align-items: center; 
	color: #8397A0;
	font-family: Roboto;
	font-size: 16px;
	height: 100px;
	border-bottom: 1px solid #2C303B;
}
.sidebar .nav-sidebar li:hover{
	background-color: #72CDD2;
	color: #ffffff;
}
.sidebar .nav-sidebar li:focus{
	background-color: #72CDD2;
	color: #ffffff;
}
.navbar {
	background-color: #282C37;
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar .nav-sidebar {
	color: white;
}
.navbar .nav-sidebar li{
	display: flex;
	justify-content: left; 
	align-items: center; 
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	height: 40px;
	padding-left: 20px;
	border-bottom: 1px solid #242833;
	background-color: #282C37;
}
.navbar .nav-sidebar li:hover{
	background-color: #72CDD2;
	color: #ffffff;
}
.navbar .nav-sidebar li:active{
	background-color: #1C1F26;
	color: #91D62D;
}
.navbar .nav-sidebar .nav-sidebar li{
	color: #ffffff;
	font-family: Helvetica;
	font-size: 14px;
	height: 40px;
	padding-left: 40px;
	border-bottom: 1px solid #242833;
	background-color: #282C37;
}
.navbar .nav-sidebar .nav-sidebar li:hover{
	background-color: #72CDD2;
	color: #ffffff;
}
.navbar .nav-sidebar .nav-sidebar li:active{
	background-color: #1C1F26;
	color: #91D62D;
}
.main {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #ffffff;
	height: 100%;
}
.map {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #ffffff;
	height: 90%;
}
.asidebar {
	display: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #313541;
	height: 90%;
}
.pageTitle {
	display: flex;
	align-items: center; 
	background-color: #F3F7FA;
	height: 10%;
	margin-left: 0px;
}
.pageTitle .title {
	padding-left: 20px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
}
.pageTitle .icon {
	text-align: right;
	padding-right: 20px;
	font-size:28px;
	color:#637D7E;
}
.map img{
	width: 100%;
	height: 100%;
}
.asidebar img {
	width: 100%;
	height: 30%;
}
.asidebar .place-name {
	font-family: Myriad Pro;
	font-size: 24px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #72CDD2
}
.asidebar .description {
	font-family: Roboto;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #CCCCCC;
	background-color: #313541
}
#menu-icon {
	font-size:40px;
}

